$textColor = #000000
$accentColor = #4CAF50

a.sidebar-link {
    font-weight: bold;
}

.sidebar-sub-headers a.sidebar-link {
    font-weight: normal;
}

.sidebar-group a.sidebar-link {
    font-weight: normal;
}

.sidebar-heading {
    color: $textColor;
}

.sidebar-heading.open, .sidebar-heading:hover {
    color: $accentColor;
}