div[class~=language-gradle]:before {
    content:"gradle"
}

div[class~=language-proguard]:before {
    content:"proguard"
}

div[class~=language-groovy]:before {
    content:"gradle"
}

div[class*="language-"] {
    background-color: #2d2d2d;
}

.token.comment, .token.prolog, .token.cdata {
    color: #808080;
}

.token.delimiter, .token.boolean, .token.keyword, .token.selector, .token.important, .token.atrule {
    color: #cc7832;
}
                
.token.operator, .token.punctuation, .token.attr-name {
    color: #a9b7c6;
}

.token.tag, .token.doctype, .token.builtin {
    color: #e8bf6a;
}

.token.entity, .token.number, .token.symbol {
    color: #6897bb;
}

.token.property, .token.constant, .token.variable {
    color: #9876aa;
}
            
.token.string, .token.char {
    color: #6a8759;
}

.token.annotation {
    color: #bbb438;
}

.token.attr-value {
    color: #a5c261;
}

.token.url {
    color: #287bde;
}

.token.function {
    color: #ffc66d;
}

.token.regex {
    color: #364135;
}

.token.inserted {
    color: #294436;
}

.token.deleted {
    color: #484a4a;
}
