<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.noties.markwon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="http" />

                <data
                    android:host="*"
                    android:scheme="file" />

                <data
                    android:host="*"
                    android:scheme="https" />

                <!--<data-->
                <!--android:host="*"-->
                <!--android:scheme="http"-->
                <!--android:mimeType="text/toMarkdown"/>-->

                <!--<data-->
                <!--android:host="*"-->
                <!--android:scheme="file"-->
                <!--android:mimeType="text/toMarkdown"/>-->

                <!--<data-->
                <!--android:host="*"-->
                <!--android:scheme="https"-->
                <!--android:mimeType="text/toMarkdown"/>-->

                <data android:pathPattern=".*\\.markdown" />
                <data android:pathPattern=".*\\.mdown" />
                <data android:pathPattern=".*\\.mkdn" />
                <data android:pathPattern=".*\\.mdwn" />
                <data android:pathPattern=".*\\.mkd" />
                <data android:pathPattern=".*\\.md" />
                <data android:pathPattern=".*\\.text" />

            </intent-filter>

        </activity>

    </application>

</manifest>